[submodule "src/tls/contrib/x25519"]
	path = src/tls/contrib/x25519
	url = https://github.com/PeterTillema/X25519_submission.git
[submodule "tools/app_tools"]
	path = tools/app_tools
	url = https://github.com/CE-Programming/app_tools.git
